@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	

<div class="pure-container footer" id="footer" role="contentinfo">
    <div class="container">
		<div class="pure-g-r">
			<div class="pure-u-1 pure-hidden-phone" >
				<div class="pure-gutter">
					<h2>Something about the styleguide footer</h2>
				</div>
			</div>
		</div>
	</div>
</div>