@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Base.cshtml";
}

@* Styleguide stylesheet *@
<link rel="stylesheet" type="text/css" href="/ui/2013/css/styleguide.css" />

@Html.Partial("SiteHeader")

<div id="main-content" class="container" role="main">
    @RenderBody()
</div>

@Html.Partial("SiteFooter")

@section BottomPageScripts
{
    <script type="text/javascript">
        // Double tap for li's that have Ul child
        ; (function (e, t, n, r) { e.fn.doubleTapToGo = function (r) { if (!("ontouchstart" in t) && !navigator.msMaxTouchPoints && !navigator.userAgent.toLowerCase().match(/windows phone os 7/i)) return false; this.each(function () { var t = false; e(this).on("click", function (n) { var r = e(this); if (r[0] != t[0]) { n.preventDefault(); t = r } }); e(n).on("click touchstart MSPointerDown", function (n) { var r = true, i = e(n.target).parents(); for (var s = 0; s < i.length; s++) if (i[s] == t[0]) r = false; if (r) t = false }) }); return this } })(jQuery, window, document);
        $('#nav li:has(ul)').doubleTapToGo();
    </script>
    <script src="/ui/2013/scripts/raw/settings.js"></script>
    <script src="/ui/2013/scripts/raw/search.js"></script>
    @RenderSection("BottomPageScripts", required: false)
}