@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_LayoutResponsive.cshtml";
}

<div class="pure-container">
	<div class="pure-g-r">
		<div class="pure-u-1">
			<div class="pure-gutter">
				<h1>Contents of @CurrentPage.Name</h1>
				<ul>
					@foreach(var page in Model.Content.Children)
					{
						<li><a href="@page.NiceUrl()">@page.Name</a></li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>