@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "_LayoutResponsive.cshtml";
}

<div class="pure-container">
	<div class="pure-g-r">
		<div class="pure-u-1">
			<div class="pure-gutter">
				@Umbraco.Field("content")
			</div>
		</div>
	</div>
</div>