@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.NodeFactory;

@{
    Layout = "_LayoutResponsive.cshtml";
}

<div class="pure-container">
	<div class="pure-g-r">
		<div class="pure-u-1">
			<div class="pure-gutter">
				<h1>@Umbraco.Field("pageTitle")</h1>
        @Umbraco.Field("content")
			</div>
		</div>
	</div>
</div>