<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT _Base ANY>
<!ATTLIST _Base id ID #REQUIRED>
<!ELEMENT _LayoutResponsive ANY>
<!ATTLIST _LayoutResponsive id ID #REQUIRED>
<!ELEMENT Folder ANY>
<!ATTLIST Folder id ID #REQUIRED>
<!ELEMENT GlobalSettings ANY>
<!ATTLIST GlobalSettings id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT LiveDemo ANY>
<!ATTLIST LiveDemo id ID #REQUIRED>
<!ELEMENT standardPage ANY>
<!ATTLIST standardPage id ID #REQUIRED>
<!ELEMENT topLevelFolder ANY>
<!ATTLIST topLevelFolder id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1094" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-12-02T17:20:19" updateDate="2013-12-02T17:21:09" nodeName="Home" urlName="home" path="-1,1094" isDoc="" nodeType="1093" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="1092" nodeTypeAlias="Home">
    <umbracoNaviHide>0</umbracoNaviHide>
    <content><![CDATA[<p>Home content</p>]]></content>
    <menuTitle>Home</menuTitle>
    <topLevelFolder id="1125" parentID="1094" level="2" creatorID="0" sortOrder="0" createDate="2014-04-08T16:07:32" updateDate="2014-04-08T16:09:21" nodeName="Get-started" urlName="get-started" path="-1,1094,1125" isDoc="" nodeType="1068" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="1067" nodeTypeAlias="topLevelFolder">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[<p>.</p>]]></content>
      <menuTitle>Get started</menuTitle>
      <menuAlias />
      <pageTitle>Get started</pageTitle>
      <standardPage id="1126" parentID="1125" level="3" creatorID="0" sortOrder="2" createDate="2014-04-08T16:07:32" updateDate="2014-04-08T17:15:06" nodeName="Pure-Grid" urlName="pure-grid" path="-1,1094,1125,1126" isDoc="" nodeType="1064" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="1063" nodeTypeAlias="standardPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <content><![CDATA[<p>We use the Pure grid from http://purecss.io and are currently on version 0.2.1</p>
<h2>Grid Structure</h2>
<p>Bellow, shown with comments, are the baseline elements needed for the grid structure to work.</p>
<?UMBRACO_MACRO livedemoselect="1132" macroAlias="LiveDemo" />
<h2>Grid units</h2>
<p>This is a visual of all units that can be equally spread across one row.</p>
<?UMBRACO_MACRO livedemoselect="1133" macroAlias="LiveDemo" />
<h2> </h2>
<h2>Grid units including Gutters/Gaps</h2>
<p>Same as above but with "pure-gutter" included</p>
<?UMBRACO_MACRO livedemoselect="1134" macroAlias="LiveDemo" />
<h2> </h2>
<h2>Grid units on mobile</h2>
<p>Grid units will collapse and stack in mobile view but this can be prevented using mobile grid units. This can be done by adding the mobile grid unit class (pure-m-u-*) to the grid unit DIV.</p>
<?UMBRACO_MACRO livedemoselect="1135" macroAlias="LiveDemo" />
<p>With this, you can also adjust the grid layout between mobile and desktop. For instance, if you want a layout of quarters on desktop, but halves on mobile you can do this like so.</p>
<?UMBRACO_MACRO livedemoselect="1136" macroAlias="LiveDemo" />
<h2>Grid unit combinations</h2>
<p>A combination of all the different grid units available for use</p>
<?UMBRACO_MACRO livedemoselect="1137" macroAlias="LiveDemo" />]]></content>
        <menuTitle>Pure Grid</menuTitle>
        <menuAlias />
        <pageTitle>Pure Grid</pageTitle>
      </standardPage>
      <standardPage id="1127" parentID="1125" level="3" creatorID="0" sortOrder="3" createDate="2014-04-08T16:07:32" updateDate="2014-04-08T16:09:21" nodeName="Guiding principles" urlName="guiding-principles" path="-1,1094,1125,1127" isDoc="" nodeType="1064" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="1063" nodeTypeAlias="standardPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <content><![CDATA[<h2>Have a clear purpose</h2>
<ul>
<li>Make complex stuff easy. Keep things as straightforward as possible for our users and for ourselves. Always ask yourself, could this be simpler?</li>
<li>Be clear on what you want to achieve. Don’t lose sight of your original objectives. Stay focussed on the action you want people to take and, if there’s more than one, have a clear heirachy for your CTA’s.</li>
</ul>
<h2>For people, by people</h2>
<ul>
<li>Prioritise user generated content. Where possible, let people tell their own stories. They will have more impact than anything we produce for them. Make them the star of the show.</li>
<li>Build trust by being human. Remember that everyone involved in JustGiving is a person – that includes our charities, donors, fundraisers and ourselves. Everything we produce should feel like a natural conversation between real people.</li>
<li>Think globally. Our users are all over the world and we should reflect that in what we produce.</li>
<li>Build for the majority. To be more effective focus your energy on the things that matter to the most people.</li>
</ul>
<h2>Encourage Interaction</h2>
<ul>
<li>Be generous with engagement opportunities. The more we can get people to share with us, the better experience they will have, and the more we will learn about our community. Always ask: Is this something that people can respond to and interact with?</li>
<li>We are just one part of a bigger conversation. People don’t necessarily need to interact directly with JustGiving to get something useful from us. Help them interact with each other by taking JustGiving out of the way</li>
</ul>
<h2>Consider the whole journey</h2>
<ul>
<li>It doesn’t start and finish with JustGiving. Think about where people have come from and where they are going next. Make sure that each stage of the journey feels coherent.</li>
<li>Be consistent. The whole experience of using JustGiving should look and feel smooth. Make sure that your work fits in seamlessly with the rest of our service.</li>
</ul>
<p> </p>]]></content>
        <menuTitle>Guiding principles</menuTitle>
        <menuAlias>lalds</menuAlias>
        <pageTitle>Guiding principles</pageTitle>
      </standardPage>
    </topLevelFolder>
    <topLevelFolder id="1096" parentID="1094" level="2" creatorID="0" sortOrder="1" createDate="2013-12-02T17:23:40" updateDate="2014-03-21T16:58:52" nodeName="Templates" urlName="templates" path="-1,1094,1096" isDoc="" nodeType="1068" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="1067" nodeTypeAlias="topLevelFolder">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[<p>.</p>]]></content>
      <menuTitle>Templates</menuTitle>
      <menuAlias />
      <pageTitle>Templates</pageTitle>
    </topLevelFolder>
    <topLevelFolder id="1097" parentID="1094" level="2" creatorID="0" sortOrder="2" createDate="2013-12-02T17:27:08" updateDate="2014-04-08T17:29:02" nodeName="Modules" urlName="modules" path="-1,1094,1097" isDoc="" nodeType="1068" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="1067" nodeTypeAlias="topLevelFolder">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[<p>.</p>]]></content>
      <menuTitle>Modules</menuTitle>
      <menuAlias>Modules</menuAlias>
      <pageTitle>Organisms</pageTitle>
    </topLevelFolder>
    <topLevelFolder id="1098" parentID="1094" level="2" creatorID="0" sortOrder="3" createDate="2013-12-02T17:27:39" updateDate="2014-04-08T17:28:54" nodeName="Elements" urlName="elements" path="-1,1094,1098" isDoc="" nodeType="1068" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="1067" nodeTypeAlias="topLevelFolder">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[<p>.</p>]]></content>
      <menuTitle>Elements</menuTitle>
      <menuAlias>Elements</menuAlias>
      <pageTitle>Molecules</pageTitle>
    </topLevelFolder>
    <topLevelFolder id="1099" parentID="1094" level="2" creatorID="0" sortOrder="4" createDate="2013-12-02T17:27:53" updateDate="2014-04-08T17:28:46" nodeName="Assets" urlName="assets" path="-1,1094,1099" isDoc="" nodeType="1068" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="1067" nodeTypeAlias="topLevelFolder">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[<p>.</p>]]></content>
      <menuTitle>Assets</menuTitle>
      <menuAlias>Assets</menuAlias>
      <pageTitle>Atoms</pageTitle>
    </topLevelFolder>
  </Home>
  <GlobalSettings id="1102" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-12-02T17:36:08" updateDate="2013-12-02T17:36:11" nodeName="Global settings" urlName="global-settings" path="-1,1102" isDoc="" nodeType="1101" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="1100" nodeTypeAlias="GlobalSettings">
    <Folder id="1112" parentID="1102" level="2" creatorID="0" sortOrder="0" createDate="2013-12-03T11:24:02" updateDate="2013-12-03T11:25:04" nodeName="live-demos" urlName="live-demos" path="-1,1102,1112" isDoc="" nodeType="1111" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="Folder">
      <Folder id="1113" parentID="1112" level="3" creatorID="0" sortOrder="0" createDate="2013-12-03T11:25:44" updateDate="2013-12-03T11:26:29" nodeName="Get-started" urlName="get-started" path="-1,1102,1112,1113" isDoc="" nodeType="1111" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="Folder">
        <LiveDemo id="1120" parentID="1113" level="4" creatorID="0" sortOrder="0" createDate="2013-12-05T12:44:48" updateDate="2014-04-08T16:45:43" nodeName="sample" urlName="sample" path="-1,1102,1112,1113,1120" isDoc="" nodeType="1119" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="LiveDemo">
          <html><![CDATA[</div></div></div></div>
<div class="pure-container">
    <div class="pure-g-r">
            <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-23-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">23-24</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-12</div>
            </div>
        </div>
        <div class="pure-u-11-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">11-12</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-8">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-8</div>
            </div>
        </div>
        <div class="pure-u-7-8">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">7-8</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-6">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-6</div>
            </div>
        </div>
        <div class="pure-u-5-6">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">5-6</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-5-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">5-24</div>
            </div>
        </div>
        <div class="pure-u-19-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">19-24</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-4">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-4</div>
            </div>
        </div>
        <div class="pure-u-3-4">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">3-4</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-7-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">7-24</div>
            </div>
        </div>
        <div class="pure-u-17-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">17-24</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-3">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-3</div>
            </div>
        </div>
        <div class="pure-u-2-3">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">2-3</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-3-8">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">3-8</div>
            </div>
        </div>
        <div class="pure-u-5-8">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">5-8</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-5-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">5-12</div>
            </div>
        </div>
        <div class="pure-u-7-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">7-12</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-11-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">11-24</div>
            </div>
        </div>
        <div class="pure-u-13-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">13-24</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-2">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-2</div>
            </div>
        </div>
    </div>
</div>
<div class="pure-container">
	<div class="pure-g-r">
		<div class="pure-u-1">
			<div class="pure-gutter">]]></html>
          <hideHTML>0</hideHTML>
          <hideAllCode>1</hideAllCode>
          <hideLiveDemo>0</hideLiveDemo>
          <hideFrame>1</hideFrame>
          <css><![CDATA[]]></css>
          <hideCSS>0</hideCSS>
          <javascript><![CDATA[<script>
    // some javascript
</script>]]></javascript>
          <hideJavaScript>0</hideJavaScript>
        </LiveDemo>
        <Folder id="1129" parentID="1113" level="4" creatorID="0" sortOrder="1" createDate="2014-04-08T16:48:34" updateDate="2014-04-08T16:49:11" nodeName="Pure-grid" urlName="pure-grid" path="-1,1102,1112,1113,1129" isDoc="" nodeType="1111" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="Folder">
          <LiveDemo id="1132" parentID="1129" level="5" creatorID="0" sortOrder="0" createDate="2014-04-08T16:59:11" updateDate="2014-04-08T17:00:25" nodeName="Grid Structure" urlName="grid-structure" path="-1,1102,1112,1113,1129,1132" isDoc="" nodeType="1119" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="LiveDemo">
            <html><![CDATA[<!-- ID "container" will wrap the whole layout and includes the maximum width setting. -->
<div id="container" role="main">
    <!-- "pure-container" wraps each section of the design -->
    <div class="pure-container">
        <!-- Each set of grid columns will sit in a grid row "pure-g-r" -->
        <div class="pure-g-r">
            <!-- Grid columns are called units & they work in fractions. "pure-u-1" covers 1 row but "pure-u-1-2" only covers 1/2 a row -->
            <div class="pure-u-1">
                <!-- "pure-gutter" is where we control the gaps between the columns. -->
                <div class="pure-gutter">
                    Hello world!
                </div>
            </div>
        </div>
    </div>
</div>]]></html>
            <hideHTML>0</hideHTML>
            <hideAllCode>0</hideAllCode>
            <hideLiveDemo>1</hideLiveDemo>
            <hideFrame>0</hideFrame>
            <css><![CDATA[]]></css>
            <hideCSS>0</hideCSS>
            <javascript><![CDATA[]]></javascript>
            <hideJavaScript>0</hideJavaScript>
          </LiveDemo>
          <LiveDemo id="1133" parentID="1129" level="5" creatorID="0" sortOrder="1" createDate="2014-04-08T17:06:55" updateDate="2014-04-08T17:18:03" nodeName="Grid units" urlName="grid-units" path="-1,1102,1112,1113,1129,1133" isDoc="" nodeType="1119" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="LiveDemo">
            <html><![CDATA[            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
        <div class="pure-u-1-24">
            <div class="grid-unit-highlight">1-24</div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-12">
            <div class="grid-unit-highlight">1-12</div>
        </div>
        <div class="pure-u-1-12">
            <div class="grid-unit-highlight">1-12</div>
        </div>
        <div class="pure-u-1-12">
            <div class="grid-unit-highlight">1-12</div>
        </div>
        <div class="pure-u-1-12">
            <div class="grid-unit-highlight">1-12</div>
        </div>
        <div class="pure-u-1-12">
            <div class="grid-unit-highlight">1-12</div>
        </div>
        <div class="pure-u-1-12">
            <div class="grid-unit-highlight">1-12</div>
        </div>
        <div class="pure-u-1-12">
            <div class="grid-unit-highlight">1-12</div>
        </div>
        <div class="pure-u-1-12">
            <div class="grid-unit-highlight">1-12</div>
        </div>
        <div class="pure-u-1-12">
            <div class="grid-unit-highlight">1-12</div>
        </div>
        <div class="pure-u-1-12">
            <div class="grid-unit-highlight">1-12</div>
        </div>
        <div class="pure-u-1-12">
            <div class="grid-unit-highlight">1-12</div>
        </div>
        <div class="pure-u-1-12">
            <div class="grid-unit-highlight">1-12</div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-8">
            <div class="grid-unit-highlight">1-8</div>
        </div>
        <div class="pure-u-1-8">
            <div class="grid-unit-highlight">1-8</div>
        </div>
        <div class="pure-u-1-8">
            <div class="grid-unit-highlight">1-8</div>
        </div>
        <div class="pure-u-1-8">
            <div class="grid-unit-highlight">1-8</div>
        </div>
        <div class="pure-u-1-8">
            <div class="grid-unit-highlight">1-8</div>
        </div>
        <div class="pure-u-1-8">
            <div class="grid-unit-highlight">1-8</div>
        </div>
        <div class="pure-u-1-8">
            <div class="grid-unit-highlight">1-8</div>
        </div>
        <div class="pure-u-1-8">
            <div class="grid-unit-highlight">1-8</div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-6">
            <div class="grid-unit-highlight">1-6</div>
        </div>
        <div class="pure-u-1-6">
            <div class="grid-unit-highlight">1-6</div>
        </div>
        <div class="pure-u-1-6">
            <div class="grid-unit-highlight">1-6</div>
        </div>
        <div class="pure-u-1-6">
            <div class="grid-unit-highlight">1-6</div>
        </div>
        <div class="pure-u-1-6">
            <div class="grid-unit-highlight">1-6</div>
        </div>
        <div class="pure-u-1-6">
            <div class="grid-unit-highlight">1-6</div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-4">
            <div class="grid-unit-highlight">1-4</div>
        </div>
        <div class="pure-u-1-4">
            <div class="grid-unit-highlight">1-4</div>
        </div>
        <div class="pure-u-1-4">
            <div class="grid-unit-highlight">1-4</div>
        </div>
        <div class="pure-u-1-4">
            <div class="grid-unit-highlight">1-4</div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-3">
            <div class="grid-unit-highlight">1-3</div>
        </div>
        <div class="pure-u-1-3">
            <div class="grid-unit-highlight">1-3</div>
        </div>
        <div class="pure-u-1-3">
            <div class="grid-unit-highlight">1-3</div>
        </div>  
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-2">
            <div class="grid-unit-highlight">1-2</div>
        </div>
        <div class="pure-u-1-2">
            <div class="grid-unit-highlight">1-2</div>
        </div>  
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="grid-unit-highlight">1-2</div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="pure-gutter">]]></html>
            <hideHTML>0</hideHTML>
            <hideAllCode>1</hideAllCode>
            <hideLiveDemo>0</hideLiveDemo>
            <hideFrame>0</hideFrame>
            <css><![CDATA[]]></css>
            <hideCSS>0</hideCSS>
            <javascript><![CDATA[]]></javascript>
            <hideJavaScript>0</hideJavaScript>
          </LiveDemo>
          <LiveDemo id="1134" parentID="1129" level="5" creatorID="0" sortOrder="2" createDate="2014-04-08T17:07:25" updateDate="2014-04-08T17:17:56" nodeName="Grid units with gutter" urlName="grid-units-with-gutter" path="-1,1102,1112,1113,1129,1134" isDoc="" nodeType="1119" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="LiveDemo">
            <html><![CDATA[            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-12</div>
            </div>
        </div>
        <div class="pure-u-1-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-12</div>
            </div>
        </div>
        <div class="pure-u-1-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-12</div>
            </div>
        </div>
        <div class="pure-u-1-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-12</div>
            </div>
        </div>
        <div class="pure-u-1-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-12</div>
            </div>
        </div>
        <div class="pure-u-1-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-12</div>
            </div>
        </div>
        <div class="pure-u-1-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-12</div>
            </div>
        </div>
        <div class="pure-u-1-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-12</div>
            </div>
        </div>
        <div class="pure-u-1-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-12</div>
            </div>
        </div>
        <div class="pure-u-1-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-12</div>
            </div>
        </div>
        <div class="pure-u-1-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-12</div>
            </div>
        </div>
        <div class="pure-u-1-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-12</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-8">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-8</div>
            </div>
        </div>
        <div class="pure-u-1-8">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-8</div>
            </div>
        </div>
        <div class="pure-u-1-8">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-8</div>
            </div>
        </div>
        <div class="pure-u-1-8">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-8</div>
            </div>
        </div>
        <div class="pure-u-1-8">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-8</div>
            </div>
        </div>
        <div class="pure-u-1-8">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-8</div>
            </div>
        </div>
        <div class="pure-u-1-8">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-8</div>
            </div>
        </div>
        <div class="pure-u-1-8">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-8</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-6">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-6</div>
            </div>
        </div>
        <div class="pure-u-1-6">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-6</div>
            </div>
        </div>
        <div class="pure-u-1-6">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-6</div>
            </div>
        </div>
        <div class="pure-u-1-6">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-6</div>
            </div>
        </div>
        <div class="pure-u-1-6">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-6</div>
            </div>
        </div>
        <div class="pure-u-1-6">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-6</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-4">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-4</div>
            </div>
        </div>
        <div class="pure-u-1-4">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-4</div>
            </div>
        </div>
        <div class="pure-u-1-4">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-4</div>
            </div>
        </div>
        <div class="pure-u-1-4">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-4</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-3">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-3</div>
            </div>
        </div>
        <div class="pure-u-1-3">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-3</div>
            </div>
        </div>
        <div class="pure-u-1-3">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-3</div>
            </div>
        </div>  
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-2">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-2</div>
            </div>
        </div>
        <div class="pure-u-1-2">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-2</div>
            </div>
        </div>  
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-2</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="pure-gutter">]]></html>
            <hideHTML>0</hideHTML>
            <hideAllCode>1</hideAllCode>
            <hideLiveDemo>0</hideLiveDemo>
            <hideFrame>0</hideFrame>
            <css><![CDATA[]]></css>
            <hideCSS>0</hideCSS>
            <javascript><![CDATA[]]></javascript>
            <hideJavaScript>0</hideJavaScript>
          </LiveDemo>
          <LiveDemo id="1135" parentID="1129" level="5" creatorID="0" sortOrder="3" createDate="2014-04-08T17:08:59" updateDate="2014-04-08T17:09:08" nodeName="grid units mobile" urlName="grid-units-mobile" path="-1,1102,1112,1113,1129,1135" isDoc="" nodeType="1119" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="LiveDemo">
            <html><![CDATA[<div class="pure-u-1-2 pure-m-u-1-2"></div>]]></html>
            <hideHTML>0</hideHTML>
            <hideAllCode>0</hideAllCode>
            <hideLiveDemo>1</hideLiveDemo>
            <hideFrame>0</hideFrame>
            <css><![CDATA[]]></css>
            <hideCSS>0</hideCSS>
            <javascript><![CDATA[]]></javascript>
            <hideJavaScript>0</hideJavaScript>
          </LiveDemo>
          <LiveDemo id="1136" parentID="1129" level="5" creatorID="0" sortOrder="4" createDate="2014-04-08T17:09:29" updateDate="2014-04-08T17:09:40" nodeName="grid units mobile 2" urlName="grid-units-mobile-2" path="-1,1102,1112,1113,1129,1136" isDoc="" nodeType="1119" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="LiveDemo">
            <html><![CDATA[<div class="pure-u-1-4 pure-m-u-1-2">
    1/4 column on desktop but 1/2 column on mobile
</div>
<div class="pure-u-3-4 pure-m-u-1-2">
    3/4 column on desktop but 1/2 column on mobile
</div>]]></html>
            <hideHTML>0</hideHTML>
            <hideAllCode>0</hideAllCode>
            <hideLiveDemo>1</hideLiveDemo>
            <hideFrame>0</hideFrame>
            <css><![CDATA[]]></css>
            <hideCSS>0</hideCSS>
            <javascript><![CDATA[]]></javascript>
            <hideJavaScript>0</hideJavaScript>
          </LiveDemo>
          <LiveDemo id="1137" parentID="1129" level="5" creatorID="0" sortOrder="5" createDate="2014-04-08T17:11:06" updateDate="2014-04-08T17:16:57" nodeName="grid unit combinations" urlName="grid-unit-combinations" path="-1,1102,1112,1113,1129,1137" isDoc="" nodeType="1119" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="LiveDemo">
            <html><![CDATA[            </div>
        </div>
    </div>    <div class="pure-g-r">
        <div class="pure-u-1-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-24</div>
            </div>
        </div>
        <div class="pure-u-23-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">23-24</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-12</div>
            </div>
        </div>
        <div class="pure-u-11-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">11-12</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-8">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-8</div>
            </div>
        </div>
        <div class="pure-u-7-8">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">7-8</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-6">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-6</div>
            </div>
        </div>
        <div class="pure-u-5-6">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">5-6</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-5-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">5-24</div>
            </div>
        </div>
        <div class="pure-u-19-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">19-24</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-4">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-4</div>
            </div>
        </div>
        <div class="pure-u-3-4">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">3-4</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-7-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">7-24</div>
            </div>
        </div>
        <div class="pure-u-17-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">17-24</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-3">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-3</div>
            </div>
        </div>
        <div class="pure-u-2-3">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">2-3</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-3-8">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">3-8</div>
            </div>
        </div>
        <div class="pure-u-5-8">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">5-8</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-5-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">5-12</div>
            </div>
        </div>
        <div class="pure-u-7-12">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">7-12</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-11-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">11-24</div>
            </div>
        </div>
        <div class="pure-u-13-24">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">13-24</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-2">
            <div class="pure-gutter">
                <div class="grid-unit-highlight">1-2</div>
            </div>
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="pure-gutter">]]></html>
            <hideHTML>0</hideHTML>
            <hideAllCode>1</hideAllCode>
            <hideLiveDemo>0</hideLiveDemo>
            <hideFrame>0</hideFrame>
            <css><![CDATA[]]></css>
            <hideCSS>0</hideCSS>
            <javascript><![CDATA[]]></javascript>
            <hideJavaScript>0</hideJavaScript>
          </LiveDemo>
        </Folder>
      </Folder>
      <Folder id="1114" parentID="1112" level="3" creatorID="0" sortOrder="1" createDate="2013-12-03T11:25:58" updateDate="2013-12-03T11:26:31" nodeName="Page-layouts" urlName="page-layouts" path="-1,1102,1112,1114" isDoc="" nodeType="1111" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="Folder" />
      <Folder id="1115" parentID="1112" level="3" creatorID="0" sortOrder="2" createDate="2013-12-03T11:26:04" updateDate="2013-12-03T11:26:33" nodeName="Blocks" urlName="blocks" path="-1,1102,1112,1115" isDoc="" nodeType="1111" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="Folder" />
      <Folder id="1116" parentID="1112" level="3" creatorID="0" sortOrder="3" createDate="2013-12-03T11:26:11" updateDate="2013-12-03T11:26:50" nodeName="Elements" urlName="elements" path="-1,1102,1112,1116" isDoc="" nodeType="1111" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="Folder" />
      <Folder id="1117" parentID="1112" level="3" creatorID="0" sortOrder="4" createDate="2013-12-03T11:26:17" updateDate="2013-12-03T11:26:52" nodeName="Assets" urlName="assets" path="-1,1102,1112,1117" isDoc="" nodeType="1111" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="Folder" />
    </Folder>
  </GlobalSettings>
</root>