<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT _Base ANY>
<!ATTLIST _Base id ID #REQUIRED>
<!ELEMENT _LayoutResponsive ANY>
<!ATTLIST _LayoutResponsive id ID #REQUIRED>
<!ELEMENT Folder ANY>
<!ATTLIST Folder id ID #REQUIRED>
<!ELEMENT GlobalSettings ANY>
<!ATTLIST GlobalSettings id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT LiveDemo ANY>
<!ATTLIST LiveDemo id ID #REQUIRED>
<!ELEMENT standardPage ANY>
<!ATTLIST standardPage id ID #REQUIRED>
<!ELEMENT topLevelFolder ANY>
<!ATTLIST topLevelFolder id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1094" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-12-02T17:20:19" updateDate="2013-12-02T17:21:09" nodeName="Home" urlName="home" path="-1,1094" isDoc="" nodeType="1093" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="1092" nodeTypeAlias="Home">
    <umbracoNaviHide>0</umbracoNaviHide>
    <content><![CDATA[<p>Home content</p>]]></content>
    <menuTitle>Home</menuTitle>
    <topLevelFolder id="1095" parentID="1094" level="2" creatorID="0" sortOrder="0" createDate="2013-12-02T17:22:43" updateDate="2013-12-02T17:23:22" nodeName="Get-started" urlName="get-started" path="-1,1094,1095" isDoc="" nodeType="1068" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="1067" nodeTypeAlias="topLevelFolder">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[<p>.</p>]]></content>
      <menuTitle>Get started</menuTitle>
      <standardPage id="1103" parentID="1095" level="3" creatorID="0" sortOrder="0" createDate="2013-12-02T17:57:05" updateDate="2013-12-05T10:38:07" nodeName="sample" urlName="sample" path="-1,1094,1095,1103" isDoc="" nodeType="1064" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="1063" nodeTypeAlias="standardPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <content><![CDATA[<h1>Test page</h1>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<p> </p>]]></content>
        <menuTitle>Sample Page</menuTitle>
      </standardPage>
    </topLevelFolder>
    <topLevelFolder id="1096" parentID="1094" level="2" creatorID="0" sortOrder="1" createDate="2013-12-02T17:23:40" updateDate="2013-12-03T11:26:27" nodeName="Page-layouts" urlName="page-layouts" path="-1,1094,1096" isDoc="" nodeType="1068" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="1067" nodeTypeAlias="topLevelFolder">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[<p>.</p>]]></content>
      <menuTitle>Page Layouts</menuTitle>
    </topLevelFolder>
    <topLevelFolder id="1097" parentID="1094" level="2" creatorID="0" sortOrder="2" createDate="2013-12-02T17:27:08" updateDate="2013-12-02T17:27:14" nodeName="Blocks" urlName="blocks" path="-1,1094,1097" isDoc="" nodeType="1068" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="1067" nodeTypeAlias="topLevelFolder">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[<p>.</p>]]></content>
      <menuTitle>Blocks</menuTitle>
    </topLevelFolder>
    <topLevelFolder id="1098" parentID="1094" level="2" creatorID="0" sortOrder="3" createDate="2013-12-02T17:27:39" updateDate="2013-12-02T17:27:44" nodeName="Elements" urlName="elements" path="-1,1094,1098" isDoc="" nodeType="1068" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="1067" nodeTypeAlias="topLevelFolder">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[<p>.</p>]]></content>
      <menuTitle>Elements</menuTitle>
    </topLevelFolder>
    <topLevelFolder id="1099" parentID="1094" level="2" creatorID="0" sortOrder="4" createDate="2013-12-02T17:27:53" updateDate="2013-12-02T17:27:57" nodeName="Assets" urlName="assets" path="-1,1094,1099" isDoc="" nodeType="1068" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="1067" nodeTypeAlias="topLevelFolder">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[<p>.</p>]]></content>
      <menuTitle>Assets</menuTitle>
    </topLevelFolder>
  </Home>
  <GlobalSettings id="1102" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-12-02T17:36:08" updateDate="2013-12-02T17:36:11" nodeName="Global settings" urlName="global-settings" path="-1,1102" isDoc="" nodeType="1101" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="1100" nodeTypeAlias="GlobalSettings">
    <Folder id="1112" parentID="1102" level="2" creatorID="0" sortOrder="0" createDate="2013-12-03T11:24:02" updateDate="2013-12-03T11:25:04" nodeName="live-demos" urlName="live-demos" path="-1,1102,1112" isDoc="" nodeType="1111" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="Folder">
      <Folder id="1113" parentID="1112" level="3" creatorID="0" sortOrder="0" createDate="2013-12-03T11:25:44" updateDate="2013-12-03T11:26:29" nodeName="Get-started" urlName="get-started" path="-1,1102,1112,1113" isDoc="" nodeType="1111" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="Folder">
        <LiveDemo id="1120" parentID="1113" level="4" creatorID="0" sortOrder="0" createDate="2013-12-05T12:44:48" updateDate="2013-12-05T12:44:51" nodeName="sample" urlName="sample" path="-1,1102,1112,1113,1120" isDoc="" nodeType="1119" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="LiveDemo" />
      </Folder>
      <Folder id="1114" parentID="1112" level="3" creatorID="0" sortOrder="1" createDate="2013-12-03T11:25:58" updateDate="2013-12-03T11:26:31" nodeName="Page-layouts" urlName="page-layouts" path="-1,1102,1112,1114" isDoc="" nodeType="1111" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="Folder" />
      <Folder id="1115" parentID="1112" level="3" creatorID="0" sortOrder="2" createDate="2013-12-03T11:26:04" updateDate="2013-12-03T11:26:33" nodeName="Blocks" urlName="blocks" path="-1,1102,1112,1115" isDoc="" nodeType="1111" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="Folder" />
      <Folder id="1116" parentID="1112" level="3" creatorID="0" sortOrder="3" createDate="2013-12-03T11:26:11" updateDate="2013-12-03T11:26:50" nodeName="Elements" urlName="elements" path="-1,1102,1112,1116" isDoc="" nodeType="1111" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="Folder" />
      <Folder id="1117" parentID="1112" level="3" creatorID="0" sortOrder="4" createDate="2013-12-03T11:26:17" updateDate="2013-12-03T11:26:52" nodeName="Assets" urlName="assets" path="-1,1102,1112,1117" isDoc="" nodeType="1111" creatorName="Basem Jawahri" writerName="Basem Jawahri" writerID="0" template="0" nodeTypeAlias="Folder" />
    </Folder>
  </GlobalSettings>
</root>